footer {
    h2 {
        font-size: 15pt;
    }

    a {
        color: $text-color;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        margin: .5rem 0;
    }

    .first-contact {
        margin-bottom: 3rem;
    }

    .social-links {
        font-size: 11pt;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width: $md){
            justify-content: center;
        }

        a {
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 .5rem;

            @media (min-width: $md) {
                margin: 1rem 0;
            }
        }

        span {
            color: $secondary-color;
        }
    }

    .row:last-child {
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
}