$secondary-color: #7A7A7A;
$text-color: white;

$md: 769px;

* {
    // background-color: black;
    font-family: 'Roboto', sans-serif;
}

h2, p {
    color: $secondary-color;
}

p {
    font-size: 13pt;
    font-weight: lighter;
}

.height-full-on-desktop {
    @media(min-width: $md){
        height: 100vh;
    }
}