#project-list{
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // margin: 2rem auto;

    .project {
        // width: 80%;
        // width: 40%;
        
        padding: 1rem;
        margin: 1rem;
        border-bottom: 1px solid $secondary-color;
        

        @media(max-width: 769px){
            width: 100%;
        }

        h3 {
            font-size: 16pt;
            text-transform: uppercase;
            color: $secondary-color;
        }
    
        .link-container {
            width: 100%;
            a {
                text-transform: uppercase;
                color: white;

                font-size: 10pt;
                
                &:hover {
                    text-decoration: underline;
                }

                &:not(:first-child){
                    margin-left: 1rem;
                }
            }
        }
    }

    .slick-list.draggable{
        margin: auto;
    }

    .slick-dots{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}