#projetos {
    @media (min-width: 769px) {
        margin: 5rem;
    }
}


#project-list{
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // margin: 2rem auto;

    .project-box {
        padding: 1rem;
        margin: 1rem;
        border-bottom: 1px solid $secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        @media(max-width: 769px){
            width: 100%;
        }

        @media(min-width: 769px){
            height: 25vh;
            h3, p {
                margin: 0;
            }
        }

        h3 {
            font-size: 16pt;
            text-transform: uppercase;
            color: $secondary-color;
        }
    
        .link-container {
            width: 100%;
            a {
                text-transform: uppercase;
                color: white;

                font-size: 10pt;
                
                &:hover {
                    text-decoration: underline;
                }

                &:not(:first-child){
                    margin-left: 1rem;
                }
            }
        }
    }

    .slick-list.draggable{
        margin: auto;
    }

    .slick-dots{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}