* {
  font-family: 'Roboto', sans-serif;
}

h2, p {
  color: #7A7A7A;
}

p {
  font-size: 13pt;
  font-weight: lighter;
}

@media (min-width: 769px) {
  .container {
    width: 80% !important;
  }
}

.main-header {
  padding: 1rem;
  background-color: black;
}

@media (max-width: 769px) {
  .main-header .nav-wrapper.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-header img {
  width: 20%;
}

@media (max-width: 769px) {
  .main-header img {
    width: 50%;
    margin: auto;
  }
}

.main-header nav {
  background-color: transparent !important;
}

.main-header nav ul li:hover {
  border-bottom: 2px solid white;
}

.main-content {
  background-color: black;
}

@media (min-width: 769px) {
  .main-content {
    min-height: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 769px) {
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 85vh;
  }
}

@media (max-width: 769px) {
  .main-content h1, .main-content h2, .main-content hr, .main-content p {
    text-align: center;
    float: unset !important;
  }
}

.main-content h2 {
  font-size: 18pt;
  color: #7A7A7A;
}

@media (max-width: 769px) {
  .main-content h2 {
    text-align: center;
  }
}

.main-content a {
  color: white;
  font-size: 13pt;
}

.main-content a:hover {
  text-decoration: underline;
}

.main-content p {
  font-weight: normal;
}

.main-content hr {
  width: 5%;
  float: left;
  border-color: gray;
}

.main-content .follow-link {
  text-align: center;
}

.main-content .follow-link span {
  font-size: 3em;
}

footer h2 {
  font-size: 15pt;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: .5rem 0;
}

footer .first-contact {
  margin-bottom: 3rem;
}

footer .social-links {
  font-size: 11pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 769px) {
  footer .social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .social-links a {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 .5rem;
}

@media (min-width: 769px) {
  footer .social-links a {
    margin: 1rem 0;
  }
}

footer .social-links span {
  color: #7A7A7A;
}

footer .row:last-child {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

@media (max-width: 769px) {
  .px-mobile {
    padding: 0 2rem !important;
  }
}

.slick-initialized .slick-slide:focus {
  outline: none;
}

.section-wrapper {
  background-color: black;
}

.section-carrousel {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.section-carrousel a {
  color: inherit;
  outline: none;
}

h2#certificados {
  margin-bottom: 5rem;
}

.slick-container {
  cursor: pointer;
}

.slick-container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.slick-container figure img {
  width: 200px;
  height: 150px;
}

.slick-container figure figcaption {
  position: absolute;
  bottom: 0;
  width: 74%;
  background-color: black;
  opacity: .7;
}

.slick-dots {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.slick-dots .slick-active button {
  color: white;
  background-color: #141414;
}

.slick-dots li {
  margin-left: 1rem;
}

.slick-dots li button {
  cursor: pointer;
  border-radius: 5em;
  width: 30px;
  height: 30px;
  color: gray;
  background-color: #141414;
  border: none;
}

#project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem auto;
}

#project-list .project {
  width: 40%;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 1px solid #7A7A7A;
}

@media (max-width: 769px) {
  #project-list .project {
    width: 100%;
  }
}

#project-list .project h3 {
  font-size: 16pt;
  text-transform: uppercase;
  color: #7A7A7A;
}

#project-list .project .link-container {
  width: 100%;
}

#project-list .project .link-container a {
  text-transform: uppercase;
  color: white;
  font-size: 10pt;
}

#project-list .project .link-container a:hover {
  text-decoration: underline;
}

#project-list .project .link-container a:not(:first-child) {
  margin-left: 1rem;
}

#project-list .slick-list.draggable {
  margin: auto;
}

#project-list .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=index.css.map */