// Main content
.main-content {
    h1, h2, hr, p {
        @media (max-width: $md) {
            text-align: center;
            float: unset !important;
        }
    }

    h2 {
        font-size: 18pt;
        color: $secondary-color;
    
        @media(max-width: $md) {
            text-align: center;
        }
    }

    a {
        color: $text-color;
        font-size: 13pt;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        font-weight: normal;
    }

    hr {
        width: 5%;
        float: left;
        border-color: gray;
    }
}